/* Define the custom font */
@font-face {
  font-family: 'air';
  /* Give a name to your font */
  src: url('./font/air.1243ed34.ttf') format('truetype');
  /* Path to your .ttf font file */
}


* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
  font-family: 'air', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  /* --defaultTextColor: black; */
  /* --background-color: #e3e7ed; */
  --background-color: #394b59;
  --nav-color: #e3e7ed;
  --defaultTextColor: #551a8b;
  --glow-color: none;
}

[data-theme="dark"] {
  --background-color: #000; /* Dark mode background */
  --nav-color: #394b59;
  --defaultTextColor: #0f0; /* Dark mode text */
  --glow-color: #0f0; /* Green glow in dark mode */
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  /* Higher index to ensure it's above other content */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 9%;
  background: var(--nav-color);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2);
}

#theme-toggle {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  border-radius: 30px;
  
}

body {
  background: var(--background-color);
  color: var(--defaultTextColor);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.glowing-element {
  filter: drop-shadow(0 0 8px var(--glow-color));
  transition: filter 0.3s ease;
}


.navlist {
  display: flex;
}

.navlist a {
  color: var(--defaultTextColor);
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid;
}

#menu-icon {
  font-size: 20px;
  z-index: 10001;
  cursor: pointer;
  color: var(--defaultTextColor);
  display: none;
}

.logo {
  font-size: 15px;
  font-weight: 700;
  color: var(--defaultTextColor);
}

.webgl {
  position: fixed;
  /* Or absolute, depending on how you want it positioned */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Lower index so it's behind the header */
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;
  z-index: 10003;
}

/* .scroll-down-icon {
    width: 80px; 
    height: 40px; 
    color:#551a8b;
}

.scroll-down-icon:hover {
    cursor: pointer;
} */

.scroll-down i {
  display: block;
  padding: 120x;
  font-size: 35px;
  color: var(--defaultTextColor);
  background: var(--nav-color);
  border-radius: 30px;
  transition: all .50s ease;
  opacity: 0.8;
}

.scroll-down i:hover {
  /* color: #00fffc;; */
  /* background: #551a8b; */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section .background-image {
  width: 50%;
  padding: 20px;
}

.section .background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section .slogan {
  position: absolute;
  display: inline-block;
  height: 80%;
  width: 0;
  background: url(./media/Diet-X-Workout-3-29-2024.png) no-repeat center;
  background-size: auto 100%;
  padding-right: 12%;
  top: 12%;
  left: 3%;
  z-index: 10002;
}

.section .vice-slogan {
  position: absolute;
  display: inline-block;
  height: 40%;
  width: 0;
  background: url(./media/24-7-Fitness-3-29-2024.png) no-repeat center;
  background-size: auto 100%;
  bottom: 10%;
  right: 8%;
  max-width: 31.7621%;
  /* Maximum width to avoid overflow */
  padding: 40px;
  /* Padding to ensure some space around the content, adjust as needed */
  z-index: 10002;
}



@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: .2s;
  }

  .scroll-down {
    right: 3%;
    transition: .2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: .2s;
  }
}

@media (max-width: 1340px) {}

@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: .2s;
  }

  /* .scroll-down{
        display: none;
    } */

}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: -500%;
    /* right: 100%; */
    width: 100%;
    height: auto;
    background: rgba(245, 222, 179, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    /* transition: all .55s ease; */
    z-index: 1000;
  }

  .navlist a {
    display: block;
    margin-left: 0;
    margin: 7px 0;
    z-index: 1000;
  }

  .navlist.open {
    top: 100%;
    right: 0;
    z-index: 1000;
  }

  .section .slogan {
    padding-left: 2%;
    padding-right: 23%;
  }

  .section .vice-slogan {
    padding: 40px;
  }

  .section .background-image {
    width: 100%;
  }

}

@media (max-width: 680px) {
  .section .slogan {
    padding-left: 2%;
    padding-right: 23%;
  }

  .section .vice-slogan {
    padding: 40px;
  }

  .section .background-image img {
    margin-top: -50%;
  }

}